<div class="container" style="margin:100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4 style="margin-bottom: 20px;">Agregar una nueva Promo</h4>
            <form action="/admin/promos/agregar" method="post" enctype="multipart/form-data">

                <div class="mb-3 row">
                    <textarea type="text" class="form-control" placeholder="Descripcion de la promo"
                        name="promo"></textarea>
                </div>
                <div class="mb-3 row">
                    <textarea type="text" class="form-control" placeholder="Precio" name="precio"></textarea>
                </div>
                <div class="form-group">
                    <div class="mb-3">
                        <label>Agregar imagen: 
                        <input class="form-control" type="file" name="imagen" id="imagen"></label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            {{#if error}}
            <p>{{message}}</p>
            {{/if}}

        </div>

    </div>

</div>